#Check architecture
PLATFORM=`uname`

#Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

#Applications
alias vi='vim'

#Mac Specifics
if [[ "$PLATFORM" == 'Darwin' ]]; then
  alias sub='open -a "Sublime Text"'
  alias vim='/usr/local/Cellar/vim/**/bin/vim'

#Get OSX Software Updates, along with Ruby gems, Homebrew, npm, and packages installed by them
  alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g; sudo gem update'

# Clean up LaunchServices to remove duplicates in the “Open With” menu
  alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Trash (https://github.com/sindresorhus/trash)
  alias remove='/bin/rm'
  alias t='trash'
  alias rm='trash'

# Better top: https://github.com/MrRio/vtop
  alias top='vtop'
  alias oldtop='/usr/bin/top'

fi

#Clear the terminal
alias cl='clear'

#Git Commands
alias status='git status'
alias st='git status'
alias checkout='git checkout'
alias commit='git commit'
alias pull='git pull'
alias push='git push'
alias merge='git merge'
alias add='git add -A'
alias pull-request='git pull-request'
alias git=hub
alias rebase='git rebase'
alias remote='git remote'
alias mergetool='git mergetool'
alias branch='git branch'
alias stash='git stash'
alias pr='~/bin/./pull-request.sh'
alias gpu='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gcob='gco -b'

