# Make vim the default editor
export EDITOR="vim"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Amazon AMI Exports
export JAVA_HOME="$(/usr/libexec/java_home)"

# Selenium
export SELENIUM_SERVER_JAR="/usr/local/Cellar/selenium-server-standalone/2.5.0/selenium-server-standalone-2.5.0.jar"

# Node.js
export NODE_ENV="development"

# Meteor.js
export NODE_OPTIONS="--debug=5858"
export ROOT_URL="http://$(ipconfig getifaddr en0)"

# General coding
export DEV_ENV="development"

# Test coverage token for codeclimate.com and nooline
export CODECLIMATE_REPO_TOKEN=9e75e75279a10021149961d0320ae1ead2594caa43e1c19c33c7b6e7ca6a72b1 

# vim
export PIP2EVAL_TMP_FILE_PATH=/tmp/shm

# Zsh et al
export ZSH_PLUGINS_ALIAS_TIPS_TEXT="Alias for this command: "
