[user]
	email = skyler.brungardt@gmail.com
	name = Skyler Brungardt
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[push]
	default = simple
[config]
	mergetool = kdiff3
