_auth = c3RyaWN0bHlza3lsZXI6bWFkY2F0MA==
email = skyler.brungardt@gmail.com

[_token]
AuthSession = c3RyaWN0bHlza3lsZXI6NTFFOUI4QkQ6L2eNzdZSnw_gVM1IAD-vfzX_ZkA
version = 1
expires = 1374307677416
path = /
httponly = true
